.movies__body, .movies__main {
    height: 100%;
}
.container {
  padding: 56px 0;
}

.movies__container {
  padding: 24px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -24px;
}

.movie {
  width: 25%;
  padding: 24px;
  transition: all 300ms ease;
}

.movie:hover {
  transform: translateY(-4px);
}

.movie__img {
  max-height: 320px;
  max-width: 250px;
  transition: all 300ms ease;
}
.home__link{
    color:red;
    cursor: pointer;
}

.movie__img--skeleton {
  width: 100%;
  max-width: 250px;
  height: 320px;
  background-color: rgb(204, 204, 204);
  margin-bottom: 8px;
}

.skeleton {
  background-color: rgb(227, 227, 227) !important;
  margin-bottom: 8px;
}

.movie__title--skeleton {
  height: 21px;
  width: 100%;
}

.movie__rating--skeleton {
  width: 100px;
  height: 19px;
}



.movie__link {
  color: #f60d0d;
}

.movie__img--wrapper {
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.movie__title {
  font-size: 20px;
  margin-bottom: 8px;
}

.movie__title--link {
  color: #242424;
}


.container__movie--selected {
  padding-top: 16px;
}

.movie__selected {
  display: flex;
  margin-top: 80px;
  background-color: beige;
}

.movie__selected--figure {
  width: 40%;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie__selected--img {
  max-height: 500px;
  width: auto;
  max-width: 100%;
}

.movie__selected--description {
  width: 60%;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie__selected--top {
  padding: 0 24px;
  margin-top: 100px;
  font-size: 32px;
  color: #242424;
  display: flex;
  align-items: center;
}

.movie__selected--link {
  color: #fb0808;
}

.critics-container {
    display: flex;
}

.red {
    color:Red
}

.movie__selected--title--top {
  margin-left: 10px;
  margin-bottom: 0;
}

.movie__summary {
  margin-bottom: 16px;
}

.movie__selected--title {
  margin-bottom: 8px
}

.movie__summary--title {
  margin-bottom: 8px;
}

.movie__summary--para {
  margin-bottom: 16px;
}


/*Smaller screens*/
@media (max-width: 1000px) {
    .movie__selected--rating-1, .movie__selected--rating-3{
        display: none;
    }
}