@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100vh;
    background-color:black;
}


.nav__background, .background__footer{
    background-color: black;
}

#search__input {
    color: #1e1d2b;
}
.title-box {
  height: 54px;
  margin-bottom: 4px;
}
h3 {
    color: rgb(55, 55, 111);
    font-weight: 900;
    font-size: x-large;
    margin-bottom: 18px;
}
p {
    font-size: 20px;
    color: #535166;
    font-weight: 600;
}


.background {
    background-image:url('../src/assets/movie_collage.jpg');
    z-index: -10;
    top: 0;
    flex: 1;
    left: 0;
    height: 100%;
     width: 100%;
    mask-image: linear-gradient(to right, transparent, black, 75%);
    -weblit-mask-image: linear-gradient(to right, transparent, black, 75%);

}

.nav__link {
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    color: #f00f0f
}


.link__hover-effect {
        position: relative;
        cursor: pointer;
    }

    .link__hover-effect:after {
        content: "";
        position: absolute;
        bottom: -3px;
        height: 3px;
        width: 0;
        right: 0;
        transition: all 300ms ease-in-out;

    }

        .link__hover-effect--red:after{
        background-color: #f00f0f;
    }
    .link__hover-effect--black:after{
        background-color: #242424;
    }

    .link__hover-effect:hover:after {
        left: 0;
        width: 100%;
    }

.navbar__left {
    display: flex;
    align-items: center;
    margin: 0;
}

.logo_text {
    margin-left: 8px;
    font-size: 28px;
    color: #f00f0f;
    font-weight: 700;
}

.nav__container {
width: 100%;
max-width: 1200px;
min-width: 100vh;
padding: 0 24px;
display: flex;
justify-content: space-between;
align-items: center;
margin:0 auto;
background-color: black;
}
.nav__background {
position: fixed;
width: 100vw;
z-index: 100;
}

.logo {
    width: 100px;
    height: auto;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 24px;
}

.main__text {
    text-align: center;
    margin-top: 164px;
    color: #5e2c2c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 200px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;}

    .main__title {
    font-size: 48px;
    margin-bottom: 16px;
}


.search__container {
width: 100%;
padding: 5%;
background-position: center;
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: top;
}

.search__bar {
    width: 100%;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 60px;
    padding: 12px 24px;
}

#search__input{
    background-color: transparent;
}

.search__bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 24px;
    padding: 24px 20px;
    color: white
}

::placeholder {
    color: #494854;
}

  .search__bar button {
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 36px;
    padding: 12px 20px;
}



.fa-spinner {
animation: spinner 750ms infinite;
z-index: -20;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

 .movie-card {
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
  height: 400px;
  width: 280px;
  margin: 4px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.1) inset;
background-color: #aaa; 
    background-image: linear-gradient(
        45deg,
        #888 0%, 
        #eee 20%, 
        #888 40%, 
        #eee 60%, 
        #888 80%, 
        #eee 100%
    );
    background-size: 100% 100%; 
    
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.movie-card--skeleton {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  height: 400px;
  width: 280px;
  margin: 4px;
    text-align: center;
  background-color: rgb(204, 204, 204);
  margin-bottom: 8px;
}

.skeleton {
  background-color: rgb(227, 227, 227) !important;
  margin-bottom: 8px;
}


.titleBox {
  height: 58px;
}

.movie-card:hover {
  box-shadow: 0 0 30px  rgb(54, 11, 248, 1);
  transform: scale(1.05);
}

.movie-card__container {
  padding: 2px 16px;
  height:100%;
  align-items: center;
  flex-wrap: wrap;
  
}
.movie-img {
  width: auto;
  height: 280px;
  
}
.movie-list{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}


footer{
    background-color: #242424;
}



.footer__copyright {
    color: #ffff
}



.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
       opacity: 0;
       visibility: hidden;
}

.menu--open .menu__backdrop {
   visibility: visible;
   opacity: 1;
   transform: translate(0);
}

.menu--open {
    max-height: 100vh;
    overflow: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 40px;
    color: #e60a0a;
}
.menu__link--nope {
  cursor: not-allowed;
    font-size: 40px;
    color: #e60a0a;
}


.btn__menu, .btn__menu--close, .fa-x{
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #e60a0a;
    border: none;
    width: 48px;
    height: 48px;
    transition: all 300ms ease-in-out;

}
.fa-x:hover{
  color: gold;
    cursor: pointer;
}

.btn__menu{
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    display: block;
    z-index: 150  ;
}



@media (min-width: 630px) {
    .btn__menu {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav__container {
        padding: 0 12px;
    }

    .main__title {
        font-size: 36px;
    }

    .main__description {
        font-size: 18px;
    }

    .search__bar {
        max-width: 80%;
    }

    .search__bar input {
        font-size: 20px;
    }

    .search__bar button {
        font-size: 28px;
    }
}



@media (max-width: 630px) {
    .nav__list {
        flex-direction: column;
        gap: 12px;
    }

    .main__title {
        font-size: 28px;
    }

    .main__description {
        font-size: 16px;
    }

    .search__bar {
        max-width: 100%;
    }

    .search__bar input {
        font-size: 18px;
    }

    .search__bar button {
        font-size: 24px;
    }


    .nav__link {
    display: none;
}

.btn__menu {
    border: none;
    width: 36px;
    background-color: #fff;
}


.fa-bars {
  display: flex;
    color: #e60a0a;
    border: none;
    width: 48px;
    height: 48px;
    transition: all 300ms ease-in-out;

}

.fa-bars:hover {
    color: gold;
    cursor: pointer;
}

.btn__menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 10;
    }

        .fas {
        font-size: 32px;
    }

    .fas.fa-times {
        color: #e60a0a;
    }

    .footer {
    justify-content: center;

}
.movie__selected {
  flex-direction: column;
  align-items: center;
}
.movie__selected--description {
  width: 100%;
  align-items: center;

}

}